CompileFlags:
  CompilationDatabase: build/test-debug
  Add:
    - -isysroot
    - /Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk
    - -I/Users/robinbreugelmans/Repos/RTB/inc
    - -std=c++17

Diagnostics:
  UnusedIncludes: Strict # warn on #includes you don't need
  MissingIncludes: Strict # warn on symbols used but not directly included
  Suppress:
    - pp_file_not_found

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true

Index:
  Background: Build # index the whole project in background

Hover:
  ShowAKA: true # shows what 'auto' actually resolves to
